@model IEnumerable<Tennis4.Models.PlayerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "EnrollmentView", FormMethod.Get))
{
    <p>
        Pretraga: @Html.DropDownList("competitionId", "Choose competition")
        <input type="submit" value="Select" />
    </p>
    <p>
        Pretraga: @Html.DropDownList("roundId", "Choose round")
        <input type="submit" value="Select" />
    </p>
    

}

<table class="table">
    <tr>
        <th>
            Competition Row
        </th>
        @for (int i = 0; i < ViewBag.Capacity; i++)
        {
            <th>
                Player
            </th>
        }
    </tr>

    @foreach (Tennis4.Models.RowViewModel row in ViewBag.RowsAndIds)
    {
        <tr>
            <td>
                @row.RowNumber
            </td>
            @foreach (var item in row.ListPlayerIds)
            {
                <td>
                    @foreach (Tennis4.Models.PlayerViewModel player in ViewBag.Players)
                    {
                        if (item == player.PlayerID)
                        {
                            @player.PlayerFullName
                        }
                    }
                </td>
            }
        </tr>
    }
</table>
