@model IEnumerable<Tennis4.Models.RowViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "EnrollmentView", FormMethod.Get))
{
    <p>
        Pretraga: @Html.DropDownList("competitionId", "Choose competition")
        <input type="submit" value="Select" />
    </p>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RowNumber)
        </th>
    </tr>

    @foreach (var row in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => row.RowNumber)
            </td>
        </tr>
    }
</table>
